.contentWars {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: 18rem;
	gap: 1rem;
}

.footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	grid-template-rows: auto;
	gap: 1rem;
}
.footer form {
	justify-self: normal;
}
@media screen and (min-width: 768px) {
	.footer {
		justify-items: normal;
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		justify-items: normal;
	}
}
